<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
    <h1><a href="/">WCAG Vurderingssystem</a></h1>
    <nav>
      <a href="/reviews/new">Skriv vurdering</a>
    </nav>
  </header>

  <main class="container">
    <h2>Vurderinger</h2>
    <p>(Placeholder) Her kommer liste over vurderinger.</p>
  </main>
</body>
</html>